// Import Global variables
@import "~src/variables";

/* Contact Links */
a {
  margin-bottom: 5px;
  font-size:90%;
  &:link, &:visited {
    text-decoration: none;
  }
  &:active, &:focus, &:hover {
    color: $secondary-color;
    transition:color .2s;
  }
}


// Media Queries
@media (max-width: 1279px) {
  a {
    font-size:90%;
  }
}
