<!-- Project Summary -->
<div class="project-summary">
  <div
          [ngStyle.gt-xs]="{ backgroundImage: getBackground(summary.banner) }"
          fxLayout="column"
          fxLayoutAlign="center center"
          class="project-main-image"
  >
    <p class="project-title">{{ summary.title | uppercase }}</p>
    <div class="project-tech-icons">
      <img *ngFor="let tech of summary.technologies" [src]="tech" alt="technology-icon" width="50px">
    </div>
  </div>
  <div class="attributes-git"
       fxLayout.gt-md="row"
       fxLayout.lt-lg="column"
       fxLayoutGap.gt-md="0px"
       fxLayoutGap.lt-lg="100px"
  >
    <div class="project-attributes" fxFlex="70">
      <div class="title">
        <p [ngStyle.lt-lg]="{ display: 'none' }" [ngStyle.gt-md]="{ display: 'block' }">{{ summary.title }}</p>
      </div>
      <!-- Project Attributes -->
      <app-attributes-summary [attributes]="summary.attributes"></app-attributes-summary>
    </div>
    <div class="git-link" fxFlex="30">
      <a *ngFor="let link of summary.links" [href]="link[1]" target="_blank">{{ link[0] }}</a>
    </div>
  </div>
</div>
