<!-- Show spinner when data is being fetched -->
<app-loading-spinner *ngIf="showSpinner; else detailPage"></app-loading-spinner>
<!-- Show ng-template when data has been fetched and spinner is set to hidden -->
<ng-template #detailPage>
<!-- Project Header-Summary Section -->
<section>
    <div class="image-header">
        <!-- <a>ALL PROJECTS</a> -->
        <img routerLink="/" [src]="headerImg" alt="header-image" width="120px">
    </div>
    <!-- Project Summary -->
    <app-summary [summary]="detailData.summary"></app-summary>
</section>
<!-- Project Phases Section -->
<app-phases [phases]="detailData.phases"></app-phases>
<!-- Contact and Footer Section -->
<app-common [common]="commonData"></app-common>
</ng-template>
