// Import global variables
@import "~src/variables";

// Variables
$width: 100%;

/* Project Images */
.project-images {
  width: 100%;
  margin: ($white-space - 50px) auto 0 auto;
}

.grid {
  text-align: center;
}

.cell {
  display:inline-block;
  background-size: cover;
  background-position: center;
  width:600px;
  height:341px;
  &:nth-child(2n + 1) {
    margin-right:1%;
  }
  margin-top: 1%;
}


/* Media Queries */
@media (max-width:1550px) {
  .cell {
    width:520px;
    height:296px;
  }
}

@media (max-width:1350px) {
  .cell {
    width:420px;
    height:239px;
  }
}

@media (max-width:1279px) {
  .cell {
    width: 100%;
    height: initial;
    padding-top:56.82%;
  }
}
