<!-- Projects Section -->
<section>
  <div class="project" *ngFor="let project of projects">
    <div class="project-heading">
      <div class="heading">
        <h1>{{ project.title }}</h1>
        <h2>{{ project.subheading }}</h2>
      </div>
      <app-technologies [technologies]="project.technologies"></app-technologies>
    </div>
    <div class="attributes-summary">
      <div class="attributes-button">
        <app-attributes-projects [attributes]="project.attributes"></app-attributes-projects>
        <div class="view-button">
          <button>View Project</button>
        </div>
      </div>
      <div class="project-summary">
        <p>{{ project.summary }}</p>
      </div>
    </div>
    <app-images-projects [imagesURL]="project.img"></app-images-projects>
  </div>
</section>
