// Import global variables
@import "~src/variables";

/* Projects Section */
section {
  background-color: $secondary-color;
  padding: $white-space 0;
}

h2 {
  margin-top: 15px;
}

p {
  font-size: 90%;
}

button {
  margin-top:20px;
}

.project {
  @extend %aligner;
}

.project:not(:last-child) {
  padding-bottom:$white-space;
}

.attributes-summary {
  margin-top:50px;
}

// Media Queries
@media (max-width: 690px) {
  p {
    font-size:70%;
  }
}
