<!-- Projects Section -->
<section>
  <div class="project" *ngFor="let project of projects">
    <div class="project-heading">
      <div class="heading">
        <h1>{{ project.title }}</h1>
        <h2>{{ project.subheading }}</h2>
      </div>
      <div class="technologies">
        <img [src]="technology" alt="technology-icon" width="20px" *ngFor="let technology of project.technologies">
      </div>
    </div>
    <div class="attributes-summary">
      <div class="attributes-button">
        <div class="project-attributes">
          <p>Date <span class="attribute">{{ project.date }}</span></p>
          <p>Role <span class="attribute">{{ project.role }}</span></p>
        </div>
        <div class="view-button">
          <button>View Project</button>
        </div>
      </div>
      <div class="project-summary">
        <p>{{ project.summary }}</p>
      </div>
    </div>
    <div class="project-images">
      <img [src]="image" alt="project-snapshot" width="200px" *ngFor="let image of project.img">
    </div>
  </div>
</section>
