/* Global Colors */
$text-secondary: #f3f3f3;

/* Global Styling */
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  color: $text-secondary;
}
