// Import Global variables
@import "~src/variables";

/* About Section */
section {
  background-color: $tertiary-color;
  padding: $white-space 0;
}

h1 {
  margin-bottom: 50px;
}

p {
  margin-bottom:70px;
}

.about-info {
  @extend %aligner;
}


// Media Queries
@media (max-width: 690px) {
  p {
    font-size:70%;
  }
}
