// Import Global variables
@import "~src/variables";

/* About Section */
section {
  background-color: $tertiary-color;
  padding: $white-space 0;
}

h1 {
  margin-bottom: 30px;
}

p {
  margin-bottom:70px;
}

.about-info {
  @extend %aligner;
}
