// Import Global variables
@import '~src/variables';

// Extends
%title-text {
  width:575px;
  position: relative;
  top: 39px;
}

/* Title Section */
.portfolio-title {
  position:relative;
  height: 100vh;
  min-height: 700px;
  background-size: cover;
  background-position: center;
}

h2 {
  color: $secondary-color;
}

.motto-image{
  @extend %aligner;
  position: relative;
  top:40%;
  transform: translateY(-50%);

  img {
    float:right;
    border-radius: 50%;
  }

}

.motto {

  h1 {
    @extend %title-text;
    margin-top:10px;
  }

  h2 {
    @extend %title-text;
    text-align: right;
    margin-top: 5px;
  }

}

nav {
  position:absolute;
  bottom:70px;
  width:100%;

  ul {
    width:27%;
    margin: auto;

    li {
      text-align: center;
      color:$text-primary;
      height:30px;

      &:hover, &:active, &:focus {
        color: $primary-color;
        border-bottom: 2px $primary-color solid;
        transition: color .2s, border .2s;
      }

      &:hover {
        cursor: pointer;
      }

    }

  }

}

/* Media Queries */
@media (max-width: 1260px) {
  .motto-image img {
    width: 180px;
  }
}

@media (max-width: 520px) {
  .motto-image img {
    width: 150px;
  }
}

@media (max-width: 690px) {
  li {
    font-size:60%;
  }
}
