<!-- Show spinner when data is being fetched -->
<app-loading-spinner *ngIf="showSpinner; else homePage"></app-loading-spinner>
<!-- Show ng-template when data has been fetched and spinner is set to hidden -->
<ng-template #homePage>
    <!-- Title Section -->
    <section class="portfolio-title" [ngStyle]="{backgroundImage: getBackground()}">
        <div
                class="motto-image"
                fxLayout="row"
                fxLayout.lt-lg="column-reverse"
                [ngStyle.lt-lg]="{top: '25%'}"
        >
            <div class="motto" fxFlex="0 1">
                <h1
                        [ngStyle.lt-lg]="{width: '100%', textAlign: 'center'}"
                        [ngStyle.lt-md]="{width: '100%', textAlign: 'center'}"
                        [ngStyle.gt-md]="{width: '575px'}"
                >
                    {{ titleData.motto }}
                </h1>
                <h2
                        [ngStyle.lt-lg]="{width: '100%', textAlign: 'center'}"
                        [ngStyle.gt-md]="{textAlign: 'right'}"
                >
                    {{ titleData.subheading }}
                </h2>
            </div>
            <div class="image" fxFlex="0 1">
                <img
                        [ngStyle.lt-lg]="{float: 'none', position: 'relative', left: '50%',
                        transform: 'translateX(-50%)'}"

                        [ngStyle.gt-md]="{float:'right'}"

                        [src]="titleData.img"
                        alt="portfolio-portrait-photo"
                        width="200px"
                >
            </div>
        </div>
        <nav>
            <ul fxLayout="row" fxLayoutAlign="center" [ngStyle.lt-lg]="{width: '50%'}" [ngStyle.lt-sm]="{width: '80%'}">
                <li fxFlex="0 1" *ngFor="let link of titleData.links">{{ link | uppercase }}</li>
            </ul>
        </nav>
    </section>
    <!-- Projects Section -->
    <app-projects [projects]="projectsData"></app-projects>
    <!-- About Section -->
    <app-about [about]="aboutData"></app-about>
    <!-- Contact and Footer Section -->
    <app-common [common]="commonData"></app-common>
</ng-template>
